.c-tasklist {
  flex: 3;
  gap: 0.5rem;
  max-width: 120ch;
  margin: 0 auto;
  text-align: center;
  &__title {
    font-size: 2.5rem;
    color: var(--main);
    animation: fadeIn 0.3s ease;
  }
  &__container {
    margin: 0 1rem;
  }
  &__task {
    border-bottom: 1px solid var(--opWhite);
    &:first-child {
      padding-bottom: 0.1rem;
      padding-top: 0;
    }
    &:last-child {
      padding-top: 0.1rem;
      padding-bottom: 0;
      border: none;
    }
    padding-top: 0.1rem;
  }
}

.c-show-form__btn--task {
  width: 40%;
  transform: translateY(0);
  transition: opacity 0.2s ease, background 0.2s ease;
  opacity: 0.3;
  margin-bottom: 1rem;
  &:hover {
    opacity: 1;
    background: none;
    & .c-show-form__icon {
      transform: rotate(90deg);
    }
  }
}

.c-show-form {
  justify-content: center;
}

.c-todo-form {
  gap: 1rem;
  margin: 0 1rem 1rem 1rem;
}

.c-form {
  &--tasks {
    gap: 1rem;
  }
  &__inputs,
  &__pickers {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  &__pickers {
    & > .l-flexColumn {
      flex: 1;
    }
  }
  &__text-area {
    border: none;
    line-height: 4ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(4ch - 1px),
      var(--main) 0px
    );
    background-size: 100% 4ch;
  }
}

.fadeOut {
  animation: fadeOut 0.2s ease;
}

.c-task-options {
  gap: 1rem;
}

.c-task-info {
  gap: 0.5rem;
  &__date {
    gap: 0.5rem;
  }
}

.c-task-project-name {
  color: var(--main);
}

.c-task-notes {
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 100%;
  transform: scaleY(1);
  transform-origin: top;
  resize: vertical;
  margin-top: 0;
  margin-bottom: 0.5rem;
  &--collapsed {
    transform: scaleY(0);
    height: 0;
  }
}

.c-edit-form {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
