.c-tasklist {
  flex: 3;
  gap: 0.5rem;
  max-width: 120ch;
  margin: 0 auto;
  text-align: center;
  &__title {
    font-size: 2.5rem;
    color: var(--main);
    animation: fadeIn 0.3s ease;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--grayc);
    &:first-child {
      padding-bottom: 0.5rem;
      padding-top: 0;
    }
    &:last-child {
      padding-top: 0.5rem;
      padding-bottom: 0;
      border: none;
    }
    padding: 0.5rem 0;

    &--done {
      text-decoration: line-through;
      color: var(--gray);
    }
  }
}

.c-show-form__btn--task {
  width: 40%;
  transform: translateY(0);
  transition: opacity 0.2s ease, background 0.2s ease;
  opacity: 0.3;
  &:hover {
    opacity: 1;
    background: none;
    & .c-show-form__icon {
      transform: rotate(90deg);
    }
  }
}

.c-show-form {
  display: flex;
  justify-content: center;
}

.c-todo-form {
  display: flex;
  gap: 1rem;
}

.c-form {
  &--tasks {
    gap: 1rem;
  }
  &__inputs {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  &__pickers {
    display: flex;
    justify-content: center;
    gap: 1rem;
    & > .l-flexColumn {
      flex: 1;
    }
  }
  &__text--area {
    border: none;
    line-height: 4ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(4ch - 1px),
      var(--main) 0px
    );
    background-size: 100% 4ch;
  }
}

.fadeOut {
  animation: fadeOut 0.2s ease;
}

.c-task-options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.c-task-info {
  display: flex;
  gap: 1rem;
  &__date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
