:root {
  /* Background */
  --bg: hsl(216, 18%, 16%);
  --bg-aside: hsl(217, 10%, 25%);

  /* Hover */
  --btn-hover: hsl(217, 10%, 18%);

  /* Font */
  --white: hsl(0, 100%, 100%);
  --main: hsl(163, 98%, 40%);
  --secondary: hsl(2, 68%, 45%);
  --black: hsl(0, 0%, 0%);

  /* Border */
  --opWhite: hsla(0, 0%, 100%, 0.3);
}
