:root {
  /* Background */
  --gradient-black: hsl(0, 0%, 0%);
  --gradient-grey: hsl(0, 0%, 26%);
  --white: hsl(0, 100%, 100%);
}

$main-gradient: linear-gradient(
  to right,
  var(--gradient-grey) 0%,
  var(--gradient-black) 100%
);
