@use 'variables';
@use 'global';
@use './components/projects';
@use './components/tasks';

.menu-burger {
  position: relative;

  &,
  &::before,
  &::after {
    display: inline-block;
    width: 100%;
    height: 0.1rem;
    background-color: var(--white);
    border-radius: 5px;
    transition: transform 0.4s ease, background 0.25s ease;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
  }

  &::before {
    transform: translateY(-0.5rem);
  }
  &::after {
    transform: translateY(0.5rem);
  }
}

.c-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;

  &__menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
    transition: none;
    &:hover {
      background: transparent;
    }
    &--active .menu-burger {
      transform: translateX(-100px);
      background-color: transparent;
      &::before {
        transform: rotate(45deg) translate(4.4rem, -4.4rem);
      }
      &::after {
        transform: rotate(-45deg) translate(4.4rem, 4.4rem);
      }
    }
  }

  &__logo {
    width: 35px;
    height: 35px;
  }
}

.c-main {
  display: flex;
}

.c-todo-form,
.c-projects-form {
  display: none;
}

@media only screen and (min-width: variables.$desktop-bp) {
  .c-header {
    &__menu-btn {
      display: none;
    }
  }
}
