@use 'variables';
@use 'global';
@use './components/projects';
@use './components/tasks';

.c-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  &__logo {
    width: 35px;
    height: 35px;
  }
}
.c-main {
  display: grid;
  grid-template-columns: 15% 1fr;
}

.c-todo-form,
.c-projects-form {
  display: none;
}

.priority-1 {
  background: rgba(255, 0, 0, 0.5);
}
.priority-2 {
  background: rgba(0, 102, 255, 0.5);
}
.priority-3 {
  background: rgba(255, 136, 0, 0.5);
}
